.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    background:
      linear-gradient(to bottom right,#8d8741 calc(40%),#daad86 0 calc(50%),#0000 0),
      linear-gradient(to top    left ,#8d8741 calc(40%),#daad86 0 calc(50%),#0000 0)
      ;
}

.logo {
    display: none;
}


.box {
    width:300px;
    height:200px;
    
  }

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

.image{
    height: 50vh;
    width: auto;
    border: 1rem solid black;
    border-radius: 2rem 6rem;
}

.logIn{
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.inputField{
    font-family: 'Press Start 2P', cursive;
    margin-top: 10%;
    height: 5vh;
    border-radius: 10px;
    
}

.inputDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*button{
    color: white;
    margin-top: 10%;
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
}

button:active {
    top: 2px;
}

button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
}

button::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
}*/


a {
    padding: 1rem;
    color: white;
    background: transparent;
    border:transparent;
}


a:hover {
    cursor: pointer;
} 
    
@media only screen and (max-width: 767px) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background:
      linear-gradient(to bottom right,#8d8741 calc(40%),#daad86 0 calc(50%),#0000 0),
      linear-gradient(to top    left ,#8d8741 calc(40%),#daad86 0 calc(50%),#0000 0)
      ;
       padding: 20px;
    }
    
    

    .image {
        display: none;
    }

    .logo {
        display: inline-block;
    }
}



