
h1{
    margin-top: 5vh;
}


.topButtonSection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem !important;
    width: 2rem !important;
}

.task{
    border: none;
    width: 40vh;
    height: 25vh;
    transition-duration: 0.4s;
    /*margin-left: 15vh;
    margin-right: 15vh;*/
    margin-bottom: 3vh;
}

.task:hover {
    background-color: darkgray; /* Green */
}

.actions{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 1vh;
    margin-right: 1vh;
}

button{
    margin-left: 3vh;
    margin-right: 3vh;
    transition-duration: 0.4s;
    border: none;
    height: 5rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: #8D8741;
}

button:hover {
    background-color: #d6ce73a7; /* Green */
    cursor: pointer;
}


.popup-content {
    border-radius: 10px;
    height: 80%;
    width: 50%;
    border: none;
    margin-left: 12rem !important;
    background-color: #BC986A;
}


.modal {
    position: relative;
    display: flex;
    flex-direction: column;
}

